# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.13.5

## Exercícios

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista1 = ["Igor", "Jorge", "Isau", "9.2", "Brazil"]
lista1

['Igor', 'Jorge', 'Isau', '9.2', 'Brazil']

In [11]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
a = "Helluva"
b = "Boss"
c = a + " " + b
c

'Helluva Boss'

In [12]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

In [13]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dic1 = {}
dic1

{}

In [14]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic2 = {"Igor": 25, "Jorge": 23, "Isau": 23}
dic2

{'Igor': 25, 'Jorge': 23, 'Isau': 23}

In [16]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic2["Malu"] = 19
dic2

{'Igor': 25, 'Jorge': 23, 'Isau': 23, 'Malu': 19}

In [21]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dic3 = {"chave1": ["Jorge", [50, 40], "Brazil"], "chave2": ["Igor", [8.4, 5], "Isau"], "chave3": ["Helluva", "Boss", [10.4, 9.2]]}
dic3

{'chave1': ['Jorge', [50, 40], 'Brazil'],
 'chave2': ['Igor', [8.4, 5], 'Isau'],
 'chave3': ['Helluva', 'Boss', [10.4, 9.2]]}

In [24]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.
list9 = ["Igor", (7, 8), {"chave1": 70, "chave2": 80}, 9.2]
list9

['Igor', (7, 8), {'chave1': 70, 'chave2': 80}, 9.2]

In [42]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>