**Trabalhando com Tuplas**

In [11]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, "Python")

In [12]:
#Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [3]:
#Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
#Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [13]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [14]:
tupla1

'Chocolate'

In [18]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, "Python")

In [19]:
tupla1[0]

'Geografia'

In [20]:
#verificando o comprimento da tupla
len(tupla1)

5

In [21]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [22]:
#Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [23]:
# Deletando a tupla
del tupla1

In [24]:
tupla1

NameError: name 'tupla1' is not defined

In [25]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [26]:
t2

('A', 'B', 'C')

In [27]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [28]:
# Usando a função list() para conveerter uma tupla em lista
lista_t2 = list(t2)

In [29]:
lista_t2

['A', 'B', 'C']

In [31]:
lista_t2.append('D')

In [32]:
# usando a função tuple() para converter uma lista em tupla
tupla_t2 = tuple(lista_t2)

In [33]:
t2

('A', 'B', 'C')